h1,
h2,
h3 {
  color: #f5bb8d;
  font-family: 'Girassol', cursive;
}

ul li {
  color: #d5c2b5;
  font-family: 'Girassol', cursive;
}

.portrait-container{
  width: 20em;
  margin: auto;
}

.fancy {
  color: #d5c2b5;
  font-family: 'Girassol', cursive;
}

body{
  background-color: #1b0104;
}